.gradle
/build
!**/src/**/build
/composeApp/build
/iosApp/build
.kotlin
local.properties
.DS_Store
*.iml
.idea
.gradle
build/
capture/
out/
.navigation/
captures/
.externalNativeBuild
.cxx
*.apk
*.aar
*.jks
*.keystore
*.google-services.json
google-services.json
.vscode/
.history/
